.bx_catalog-compare-list_sravn{
    text-align: center;
    color: white;
    background: rgba(0,0,0, .3);
    margin-bottom: 5px;
    /*height: 75px;*/
    color: white;
    font-size: 35px;
    display: block;
    /*padding-top: 20px;*/
    line-height: 18pt;
     border-radius: 5px 0 0 5px;
     padding: 20px 10px 15px 15px;
     min-width: 90px;

}

.bx_catalog-compare-list_sravn .kol {
    font-size: 13px;
    display: inline-block;
    position: absolute;
    top: -12px;
    right: -10px;
    background: yellow;
    color: black;
    padding: 3px ;

    width: 25px;
    height: 25px;
    border-radius: 25px;
    font-family: "normal";
}
.bx_catalog_compare_count .cart_summa {display: block; font-size: 13px; padding-top: 5px; line-height: 0pt;}
.bx_catalog_compare_count .cart_kol {width: 40px; height: 40px; position: relative; margin-left: 15%;}

.bx_catalog-compare-list_sravn a{ color: #E8E8E8; }